@model OCRC.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Resetting password form</legend>
        <ol>
            <li>
                
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            @Html.HiddenFor(m => m.ReturnToken)
        </ol>
        <input type="submit" value="Reset" />
    </fieldset>
    <h2>@ViewBag.Message</h2>

    @Html.HiddenFor(m => m.ReturnToken)
}