@model OCRC.Models.DummyDatabase


<body>

    
        <div>@Html.LabelFor(model => model.FirstName) @Html.DisplayFor(model => model.FirstName)</div>
        <div>@Html.LabelFor(model => model.LastName)  @Html.DisplayFor(model => model.LastName)</div>
        <div>@Html.LabelFor(model => model.Something) @Html.DisplayFor(model => model.Something)</div>
    @* @Ajax.ViewData["fname"]  *@
</body>