@model OCRC.Models.SearchViewModel

@{
    ViewBag.Title = "Sport Search";
}

<script>

    $(function () { // on click changed to a timeout
        $('#btnDD').on("click", function () { //rename Id's to be self descriptive.
            $.ajax({
                type: "POST",
                url: '@Url.Action("notMyAction")', //better action name
                data: { 'value': $('#txtName').val() }, //pass your filters here, variable name in the controller should be named value
                datatype: 'json',
                cache: false,
                success: (data) => {
                    //$('#txtName').val(data.n); //set the value of whats in the box with the id txtName
                    console.log(data.n);
                    clearTableBody();
                    data.n.forEach(buildTableBody);
                }

            })
            return false;
        });
    });

    function getFilters() {
        //sports
        //age
        //grade

        //call this in the data section of the ajax call? must handle nulls ! OR return an object either way that gets checked int he controller
        //return { 'sport': sport filter values, 'age':ages filter values, 'grade' :grade filter values }
    }

    //TODO: Call the function when the user starts searching or filtering.


    function clearTableBody() {
        document.getElementById("SearchResults").innerHTML = "";
    }

    //IN PROGRESS...
    function buildTableBody(searchItems) {
        document.getElementById("SearchResults").innerHTML += 
        "<tr>" + "<td>" + "</td>"+
        "<td>" + searchItems.fname + "</td>" +
        "<td>" + searchItems.lname + "</td>" +
        "<td>" + searchItems.year + "</td>" +
        "<td>" + searchItems.rank[0].rank + "</td>" +
        "<td>" + searchItems.age + "</td>" +
        "<td>" + searchItems.school + "</td>" +
        "<td>" + searchItems.grade + "</td>" +
        "</tr>";

    }

</script>


<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span onclick="openNav()">Filter</span>

    </button>
</div>
<br />
<div class="collapse navbar-collapse">
    <!-- search form -->
    <div class="col-md-10 col-md-offset-2 ">
        <form class="form-inline">
            <div class="form-group ">
                <label for="School" class="sr-only">School</label>
                <input type="text" class="form-control" placeholder="School">
            </div>
            <div class="form-group">
                <label for="Name" class="sr-only">Name</label>
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="Year" class="sr-only">Year</label>
                <input type="text" class="form-control" placeholder="Year">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

@using (Html.BeginForm())
{
    @Html.TextBox("txtName", 0)
    <button id="btnDD">sub</button>
}


    </div>
</div>
<br />

<div class="col-md-2">

    <div class="row collapse navbar-collapse">
        <!-- filter start -->


        <form>
            <h3>Filter By Sport</h3>
            @foreach (var item in Model.sports)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> @item.sportName
                    </label>
                </div>
                }



        </form>
        <form class="row form-inline">

            <h3>More Filter</h3>
            <select id="gradeFilter" class="form-control">
                <option value="Grade">Grade</option>
                
                @for (int i = 1; i < 14; i++)
                {
                    <option value="@i">@i th</option>
                }
            </select>

            <select id="ageFilter" class="form-control">
                <option value="Age">Age</option>
                @for (int i = 5; i < 20; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <br />
            <br />
            <button type="submit" class="btn btn-primary">Search</button>

        </form>
    </div>

</div>

<div class="col-md-10 col-sm-12 col-xs-12">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Year</th>
                <th scope="col">Rank</th>
                <th scope="col">Age</th>
                <th scope="col">School</th>
                <th scope="col">Grade</th>
                
            </tr>
        </thead>
        <tbody id="SearchResults">
        @{ int num = 1;}
      @foreach (var item in Model.allOfThem)
      {
          
            <tr>
                <th scope="row">@num</th>@{num++;}
                <td>@item.fname</td>
                <td>@item.lname</td>
                <td>@item.year</td>
                <td>@item.rank[0].rank</td>
                <td>@item.age</td>
                <td>@item.school</td>
                <td>@item.grade</td>
                

            </tr>
                        
         }
        </tbody>
    </table>



</div>


<!--slide menu start-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @Html.Partial("_SearchForm")
    <div class="row">
        <!-- filter start -->
        <div class="col-md-12 col-xs-12">

            <div class="col-xs-10">


                <form>
                    <h3>Filter By Sport</h3>
                    @foreach (var item in Model.sports)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> @item.sportName
                            </label>
                        </div>
                    }





                    <h3>More Filter</h3>
                    <select class="form-control">
                        <option value="Grade">Grade</option>

                        @for (int i = 1; i < 14; i++)
                        {
                            <option value="@i">@i th</option>
                        }
                    </select>

                    <select class="form-control">
                        <option value="Age">Age</option>
                        @for (int i = 5; i < 20; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <br />
                    <br />
                    <button type="submit" class="btn btn-primary">Search</button>

 


                </form>
            </div>



        </div>

    </div>

</div>
<!--slide menu end-->

<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

